<tr class="task">
    <td class="item-info_box--id">{{ order._id }}</td>
    <td class="item-info_box--quantity">{{ order.quantity }}</td>
    <td [ngStyle]="{'color': order.paid ? 'green' : 'red'}" class="item-info_box--status">{{ order.paid ? "paid" : "pending" }}</td>
    <td class="item-info_box--createAt">{{ order.createdAt | dateFormat }}</td>
    <td class="item-info_box"><app-button (click)="onDelete(order)">Delete</app-button></td>
    <td class="item-info_box"><app-button (click)="onPay(order)">Pay</app-button></td>
</tr>